{
  "extends": [
    "stylelint-config-recommended"
  ],
  "rules": {
    "declaration-block-trailing-semicolon": null,
    "no-descending-specificity": null,
    "selector-pseudo-class-no-unknown": [true, {
      "ignorePseudoClasses": ["global"]
    }]
  }
}
