<div class="contacts">
    <div class="container">
        <div class="sectionTitle white">Contacts</div>
        <div class="sectionSubTitle white">You know where to find me</div>
        <div class="row">
            <div class="col-md-6 detailSection">
                <div class="subSectionTitle white">Social Media:</div>
                {% for link in site.data.social %}
                <a class="socialLinks" target="_blank" href="{{ link.link }}">
                    <span class="icon"><i class="fa {{ link.icon }}"></i></span>
                    <span class="address">{{link.link}}</span>
                </a>
                {% endfor %}
            </div>
            <div class="col-md-6 detailSection">
                <div class="subSectionTitle white">Other Contacts:</div>
                <a class="socialLinks" target="_blank" href="mailto:cupidzhaozhejian@hotmail.com">
                    <span class="icon"><i class="fa fa-at"></i></span>
                    <span class="address">cupidzhaozhejian@hotmail.com</span>
                </a>
                <a class="socialLinks" target="_blank" href="#">
                    <span class="icon"><i class="fa fa-phone"></i></span>
                    <span class="address">+1 613-329-9738</span>
                </a>
                <a class="socialLinks" target="_blank" href="#">
                    <span class="icon"><i class="fa fa-wechat"></i></span>
                    <span class="address">cupid1993</span>
                </a>
                <a class="socialLinks" target="_blank" href="#">
                    <span class="icon"><i class="fa fa-map"></i></span>
                    <span class="address">26 Norton Ave, Toronto, ON, M2N 0H6</span>
                </a>
            </div>
        </div>
    </div>
</div>
