<div class="experience">
    <div class="container">
        <div class="sectionTitle">Experience</div>
        <div class="sectionSubTitle">Young but experienced</div>

        <div class="subSectionTitle">Education</div>
        {% for item in site.data.education %}
        <div class="row educationRow">
            <div class="col-xs-12 col-md-5 educationSection">
                <div class="school">{{item.school}}</div>
                <div class="year">{{item.year}}</div>
            </div>
            <div class="col-xs-12 col-md-7 detailSection">
                <div>{{item.degree}}</div>
                <div>{{item.program}}</div>
                <div><span class="locationIcon"><i class="fa fa-map-marker"></i></span>{{item.location}}</div>
            </div>
        </div>
        {% endfor %}

        <div class="subSectionTitle">Career</div>
        {% for item in site.data.career %}
        <div class="row educationRow">
            <div class="col-md-5 educationSection">
                <div class="school">{{item.company}}</div>
                <div class="year">{{item.year}}</div>
            </div>
            <div class="col-md-7 detailSection">
                <div>{{item.title}}</div>
                <div><span class="locationIcon"><i class="fa fa-map-marker"></i></span>{{item.location}}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
