<div class="profile">
    <div class="container">
        <div class="sectionTitle">Profile</div>
        <div class="sectionSubTitle">Some facts about me</div>
        <div class="row">
            <div class="col-md-4 detailSection">
                <div class="subSectionTitle">Details:</div>
                <div class="subSectionLabel">Name:</div>
                <div class="subSectionValue">Zhejian(Jerry) Zhao</div>
                <div class="subSectionLabel">Age:</div>
                <div class="subSectionValue">26 years old</div>
                <div class="subSectionLabel">Location:</div>
                <div class="subSectionValue">Toronto, ON, Canada</div>
                <div class="subSectionLabel">Job Position</div>
                <div class="subSectionValue">Web Developer/Front End Developer</div>
            </div>
            <div class="col-md-4">
                <img src="/static/img/avatar.jpeg" alt="jerryzhao" class="profileAvatar">
            </div>
            <div class="col-md-4 detailSection">
                <div class="subSectionTitle">About Me:</div>
                <div class="subSectionValue">
                    I finished my undergraduate at Tianjin University in 2015. And after that, I came to Canada and
                    completed my master degree as an Electrical and Computer Engineering student at Queen's University.<br/>
                    I've become a web developer / front-end developer since then. Mostly I'm responsible to do React Web apps,
                    while I also good at E-commerce site and E-Newsletter development.
                </div>
            </div>
        </div>
    </div>
</div>
