<div class="skills">
    <div class="container">
        <div class="sectionTitle">Skills</div>
        <div class="sectionSubTitle">My skills are my weapons</div>

        <div class="subSectionTitle">
            <div>Languages</div>
            <div>Frameworks & Platform</div>
            <div>Efficiency</div>
            <div>Others</div>
        </div>
        {% for item in site.data.skills.language %}
        <div class="row">
            <div class="col-xs-12 col-md-5 skillRow">
                <div class="skillName">{{item.name}}</div>
            </div>
        </div>
        {% endfor %}

        {% for item in site.data.skills.framework %}
        <div class="row">
            <div class="col-xs-12 col-md-5 educationSection">
                <div class="school">{{item.name}}</div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
