*{
    transition: 0.3s all ease-in-out;
    scroll-behavior: smooth;
}
.white{
    color: #ffffff !important;
}
.container.main{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.banner{
    height: 100vh;
    background: url("/static/img/bannerBg.JPG") no-repeat center bottom fixed;
    background-size: cover;
}
.bannerContainer{
    text-align: center;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    height: 100%;
    color: #ffffff;
}
.banner .down-arrow{
    position: absolute;
    bottom: 40px;
    left: calc(50% - 15px);
    z-index: 2;
}
.banner .down-arrow img{
    width: 30px;
}
.myName{
    font-size: 63px;
    font-weight: 500;
    padding: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    letter-spacing: 1px;
}
.welcome{
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.banner .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #17429E;
    opacity: 0.75;
    z-index: 1;
}
.profile, .experience, .contacts{
    margin: 0 auto;
    padding: 80px 0;
}
.profile{
    color: #333333;
}
.profile .sectionTitle {
    color: #17429E;
}
.sectionTitle{
    font-size: 52px;
    font-weight: 600;
    margin-bottom: 10px;
}
.sectionSubTitle{
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 30px;
    margin-bottom: 50px;
}
.detailSection{
    text-align: left;
}
.detailSection .subSectionTitle{
    font-size: 28px;
    font-weight: bold;
    color: #17429E;
    margin-bottom: 20px;
}
.detailSection .subSectionLabel{
    color: #333333;
    font-weight: bold;
    font-size: 18px;
}
.detailSection .subSectionValue{
    font-size: 18px;
    color: #555555;
    margin-bottom: 5px;
}
.profileAvatar{
    width: 80%;
    border-radius: 50%;
    border: 10px solid #e3e3e3;
}
.experience{
    background-color: #B8DDE1;
    color: #006F62;
}
.experience .subSectionTitle{
    font-size: 28px;
    font-weight: 700;
    margin: 30px 0 20px;
}
.educationRow{
    width: 80%;
    margin: auto;
    padding: 20px 0;
    border-bottom: 1px solid rgba(100,100,100,0.5);
    font-size: 24px;
}
.educationRow:last-child{
    border-bottom: none;
}
.educationSection{
    text-align: right;
}
.educationRow .locationIcon {
    display: inline-block;
    margin-right: 10px;
}
.educationRow .school{
    font-weight: bold;
}

.contacts{
    background-color: #434242;
}

.contacts .sectionSubTitle{
    opacity: 0.5;
}

.socialLinks{
    display: block;
    color: #ffffff;
    margin: 10px 0;
    font-size: 18px;
    line-height: 40px;
}
.socialLinks:hover{
    color: rgba(255, 255, 255, 0.63);
    text-decoration: none;
    transform: translateX(10px);
}
.socialLinks:hover .icon{
    color: #333333;
    background-color: rgba(255, 255, 255, 0.3);
}
.socialLinks:focus{
    color: #fff;
    text-decoration: none;
    outline: none;
 }
.address{
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.icon {
    background: rgba(255, 255, 255, 0.63);
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 6px;
}
.menu ul li {
    list-style: none;
    margin: 5px 0;
}

.menu ul li a:hover, .menu ul li a:focus, li.current-menu-item > a{
    background: #0a89b9;
}
li.current-menu-item:before {
    content: "";
    display: inline-block;
    height: 55px;
    width: 5px;
    position: absolute;
    left: 9px;
    vertical-align: middle;
    background: #fff;
}
.menu ul li a {
    font-size: 15px;
    font-weight: normal;
    cursor: pointer;
    display: block;
    text-decoration: none;
    padding: 0 0 0 10px;
    color: #fff;
}
.home-subtitle {
    font-size: 26px;
    margin-bottom: 32px;
    margin-top: 5px;
    color: #0a78b9;
    font-weight: 300;
}
h2.blog-title-pro{color: #fff;}
h2.blog-title-pro:after {
    content: "";
    display: block;
    width: 70px;
    height: 4px;
    margin-top: 16px;
    margin-left: 3px;
    background: rgba(255, 255, 255, 0.72);
}
span.tags{ margin: 0 2px;cursor: pointer;display: inline-block;}
.card .card-image .card-image-headline-custom{
    position: absolute;
    margin-bottom: 0;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 5px 0 12px;
    color: #fff;
    font-size: 2em;
    background: -moz-linear-gradient(bottom,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 83%, rgba(0,0,0) 100%);
    background: -webkit-linear-gradient(bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 83%,rgba(0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,rgba(0,0,0,0.9) 83%,rgb(0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}
.card .card-footer a {
    margin: 0 !important;
    position: relative;
    bottom: 25px;
    width: auto;
}
#filters {
    margin: 0 0 25px 0;
}
.list-separator li > a i{
    width: 56px;
    height: 56px;
    text-align: center;
    line-height: 56px;
    font-size: 20px;
}
.error {
    color: #EF7272!important;
    font-size: 12px!important;
}
#portfolio-filter {
    margin-top: 50px;
}
.navbar-toggle i {
    color: #BCCCBF;
}
.menu .list-group-item-heading, .menu .list-group-item-text{
    color:#fff!important;
}

footer {
    border-top: 1px solid #C5C0C0;
    width: 100%;
    height: 10px;
    margin-top: 10px;
    margin-bottom: 3em;
    padding-top: 10px;
    color: #444444;
    font-size: 11px;
    bottom: 0px;
    padding-bottom: 10px;
}
.pager li.active a {
    background: rgba(89, 148, 129, 0.3);
}

@media (max-width: 768px) {
    .banner{
        background: url("/static/img/bannerBg.JPG") no-repeat center;
    }
    .banner .down-arrow{
        bottom: 20px;
    }
    .myName{
        font-size: 30px;
    }
    .welcome{
        font-size: 24px;
    }
    .banner .overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #17429E;
        opacity: 0.75;
        z-index: 1;
    }
    .profile, .experience, .contacts{
        margin: 0 auto;
        padding: 40px 10px;
    }
    .sectionTitle{
        font-size: 30px;
    }
    .sectionSubTitle{
        font-size: 20px;
        padding-bottom: 15px;
        margin-bottom: 10px;
    }
    .detailSection{
        text-align: left;
        margin: 20px 0;
    }
    .detailSection .subSectionTitle{
        font-size: 20px;
        margin-bottom: 15px;
    }
    .detailSection .subSectionLabel{
        font-size: 16px;
    }
    .detailSection .subSectionValue{
        font-size: 16px;
    }
    .profile .detailSection {
        text-align: center;
    }
    .profileAvatar{
        width: 50%;
    }
    .experience .subSectionTitle{
        font-size: 20px;
        font-weight: 700;
        margin: 30px 0 0;
    }
    .educationRow{
        width: 100%;
        margin: auto;
        padding: 20px 0;
        border-bottom: 1px solid rgba(100,100,100,0.5);
        font-size: 16px;
    }
    .educationRow:last-child{
        border-bottom: none;
    }
    .educationSection, .educationRow .detailSection{
        text-align: left;
        margin: 0;
    }

    .socialLinks{
        display: block;
        color: #ffffff;
        margin: 10px 0;
        font-size: 15px;
        line-height: 25px;
    }
    .address{
        margin-left: 0;
        max-width: calc(100% - 30px);
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .icon {
        font-size: 15px;
        width: 25px;
        height: 25px;
        display: inline-block;
        border-radius: 3px;
    }
}